In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/home/j/WORK/01_covariates/02_inputs/education/update_2017/data/output_data/20161121_GBD2016prelim_95+_raked_2/intermediate/gpr_draws_wide_by_years_sorted.csv")

In [3]:
df.head()

,location_id,age_group_id,sex_id,variable,1950,1951,1952,1953,1954,1955,...,2031,2032,2033,2034,2035,2036,2037,2038,2039,2040
0,6,8,1,draw0,3.551315,3.686646,3.821094,3.987961,4.135040,4.277258,...,12.197258,12.278756,12.357892,12.443255,12.531020,12.608226,12.707919,12.776865,12.835978,12.886894
1,6,8,1,draw1,2.934557,3.035745,3.165093,3.293656,3.425592,3.553808,...,11.460373,11.513724,11.536518,11.582987,11.643363,11.717437,11.769335,11.834012,11.911254,11.998843
2,6,8,1,draw2,3.641867,3.757369,3.895599,4.046541,4.209536,4.359983,...,12.286686,12.365652,12.446976,12.530241,12.612674,12.699506,12.774218,12.854195,12.925735,12.979359
3,6,8,1,draw3,4.952199,5.080338,5.238135,5.385850,5.497538,5.611028,...,13.357177,13.475177,13.574992,13.675184,13.750438,13.818493,13.896992,13.946121,14.011308,14.100494
4,6,8,1,draw4,2.460855,2.556137,2.667171,2.797431,2.900299,3.035130,...,10.806827,10.842348,10.901135,10.943073,10.962716,11.027610,11.082621,11.146767,11.197540,11.232217

In [4]:
id_cols = ["location_id", "age_group_id", "sex_id", "variable"]

In [5]:
df2 = df.set_index(id_cols)
df2.head()

                                              1950      1951      1952  \
location_id age_group_id sex_id variable
6           8            1      draw0     3.551315  3.686646  3.821094
                                draw1     2.934557  3.035745  3.165093
                                draw2     3.641867  3.757369  3.895599
                                draw3     4.952199  5.080338  5.238135
                                draw4     2.460855  2.556137  2.667171

                                              1953      1954      1955  \
location_id age_group_id sex_id variable
6           8            1      draw0     3.987961  4.135040  4.277258
                                draw1     3.293656  3.425592  3.553808
                                draw2     4.046541  4.209536  4.359983
                                draw3     5.385850  5.497538  5.611028
                                draw4     2.797431  2.900299  3.035130

                                              1956      1957      1958  \
location_id age_group_id sex_id variable
6           8            1      draw0     4.428638  4.579113  4.731514
                                draw1     3.703091  3.831624  3.966748
                                draw2     4.521338  4.664387  4.806353
                                draw3     5.759457  5.883456  6.002638
                                draw4     3.159342  3.282561  3.426639

                                              1959    ...           2031  \
location_id age_group_id sex_id variable              ...
6           8            1      draw0     4.864216    ...      12.197258
                                draw1     4.107116    ...      11.460373
                                draw2     4.944355    ...      12.286686
                                draw3     6.105723    ...      13.357177
                                draw4     3.587914    ...      10.806827

                                               2032       2033       2034  \
location_id age_group_id sex_id variable
6           8            1      draw0     12.278756  12.357892  12.443255
                                draw1     11.513724  11.536518  11.582987
                                draw2     12.365652  12.446976  12.530241
                                draw3     13.475177  13.574992  13.675184
                                draw4     10.842348  10.901135  10.943073

                                               2035       2036       2037  \
location_id age_group_id sex_id variable
6           8            1      draw0     12.531020  12.608226  12.707919
                                draw1     11.643363  11.717437  11.769335
                                draw2     12.612674  12.699506  12.774218
                                draw3     13.750438  13.818493  13.896992
                                draw4     10.962716  11.027610  11.082621

                                               2038       2039       2040
location_id age_group_id sex_id variable
6           8            1      draw0     12.776865  12.835978  12.886894
                                draw1     11.834012  11.911254  11.998843
                                draw2     12.854195  12.925735  12.979359
                                draw3     13.946121  14.011308  14.100494
                                draw4     11.146767  11.197540  11.232217

[5 rows x 91 columns]

In [6]:
super_long = df2.stack()
super_long.head()

location_id  age_group_id  sex_id  variable
6            8             1       draw0     1950    3.551315
                                             1951    3.686646
                                             1952    3.821094
                                             1953    3.987961
                                             1954    4.135040
dtype: float64

In [7]:
%time wide_on_draws = super_long.unstack(3)

NameError: name 'wide_on_year' is not defined

In [10]:
new = wide_on_draws.reset_index()

In [11]:
new = new.rename(columns={"level_3" : "variable"})

In [12]:
new.head()

variable,location_id,age_group_id,sex_id,variable,draw0,draw1,draw10,draw100,draw101,draw102,...,draw990,draw991,draw992,draw993,draw994,draw995,draw996,draw997,draw998,draw999
0,6,8,1,1950,3.551315,2.934557,5.280197,3.146221,6.132265,3.116919,...,4.329157,6.009463,5.390709,1.944119,4.985737,2.533346,1.373081,3.923848,2.985312,4.871091
1,6,8,1,1951,3.686646,3.035745,5.413075,3.262008,6.291354,3.239837,...,4.472235,6.152170,5.520361,2.049653,5.126531,2.678230,1.427424,4.045912,3.106163,4.998729
2,6,8,1,1952,3.821094,3.165093,5.551089,3.400501,6.470278,3.387190,...,4.616919,6.311845,5.642390,2.136402,5.292126,2.797396,1.511217,4.152154,3.229131,5.105600
3,6,8,1,1953,3.987961,3.293656,5.684959,3.543450,6.641232,3.512932,...,4.743605,6.520299,5.821759,2.237319,5.420719,2.908960,1.603523,4.304487,3.350306,5.229732
4,6,8,1,1954,4.135040,3.425592,5.805139,3.688935,6.839556,3.636983,...,4.868367,6.729817,5.941793,2.336451,5.546714,2.996649,1.705128,4.446330,3.479218,5.365930

In [24]:
new.to_csv("/home/j/WORK/01_covariates/02_inputs/education/update_2017/data/output_data/20161121_GBD2016prelim_95+_raked_2/intermediate/gpr_draws_wide_by_years.csv",index=False)